body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.professeur {
    max-width: 600px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.professeur img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
}

h2 {
    color: #333;
}

.motivation {
    font-style: italic;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
